{{ 'section-litt-intro.css' | asset_url | stylesheet_tag }}
{%- assign product = section.settings.product -%}
{%- assign product_form_id = 'product-form-' | append: section.id -%}

<div class="litt-intro page-width {% if section.settings.reverse %}litt-intro--reverse{% endif %}">
    <div class="litt-intro__left">
        <img class="litt-intro__left__background" src="{{ 'bg-desktop.png' | asset_url }}" alt="">
        <div class="litt-intro__image">
        {%- if section.settings.image -%}
        <img class="litt-intro__image__badge" src="{{ 'created-in-badge.png' | asset_url }}" alt="">
        <img
                srcset="{%- if section.settings.image.width >= 375 -%}{{ section.settings.image | img_url: '375x' }} 375w,{%- endif -%}
                {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | img_url: '750x' }} 750w,{%- endif -%}
                {%- if section.settings.image.width >= 1100 -%}{{ section.settings.image | img_url: '1100x' }} 1100w,{%- endif -%}
                {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
                {%- if section.settings.image.width >= 1780 -%}{{ section.settings.image | img_url: '1780x' }} 1780w,{%- endif -%}
                {%- if section.settings.image.width >= 2000 -%}{{ section.settings.image | img_url: '2000x' }} 2000w,{%- endif -%}
                {%- if section.settings.image.width >= 3000 -%}{{ section.settings.image | img_url: '3000x' }} 3000w,{%- endif -%}
                {%- if section.settings.image.width >= 3840 -%}{{ section.settings.image | img_url: '3840x' }} 3840w,{%- endif -%}
                {{ section.settings.image | img_url: 'master' }} {{ section.settings.image.width }}w"
                sizes="{% if section.settings.image_2 != blank and section.settings.stack_images_on_mobile %}(min-width: 750px) 50vw, 100vw{% elsif section.settings.image_2 != blank %}50vw{% else %}100vw{% endif %}"
                src="{{ section.settings.image | img_url: '1500x' }}"
                loading="lazy"
                alt="{{ section.settings.image.alt | escape }}"
                width="{{ section.settings.image.width }}"
                height="{{ section.settings.image.width | divided_by: section.settings.image.aspect_ratio }}"
        >
        {%- else -%}
            <img src="{{ product.images[0] | image_url: width: 1200 }}" alt="" />
        {%- endif -%}
        </div>
    </div>

    <div class="litt-intro__right">
        <h1 class="heading--1">
            <span>
                {%- if section.settings.title != blank -%}
                    {{ section.settings.title }}
                {%- else -%}
                    {{ product.title }}
                {%- endif -%}
            </span>

            {%- if section.settings.sub_title -%}
            <small>
                {{- section.settings.sub_title -}}
            </small>
            {%- endif -%}
        </h1>

        <div class="litt-intro__image">
            {%- if section.settings.image -%}
                <img class="litt-intro__image__badge" src="{{ 'created-in-badge.png' | asset_url }}" alt="">

                <img
                        srcset="{%- if section.settings.image.width >= 375 -%}{{ section.settings.image | img_url: '375x' }} 375w,{%- endif -%}
                {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | img_url: '750x' }} 750w,{%- endif -%}
                {%- if section.settings.image.width >= 1100 -%}{{ section.settings.image | img_url: '1100x' }} 1100w,{%- endif -%}
                {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
                {%- if section.settings.image.width >= 1780 -%}{{ section.settings.image | img_url: '1780x' }} 1780w,{%- endif -%}
                {%- if section.settings.image.width >= 2000 -%}{{ section.settings.image | img_url: '2000x' }} 2000w,{%- endif -%}
                {%- if section.settings.image.width >= 3000 -%}{{ section.settings.image | img_url: '3000x' }} 3000w,{%- endif -%}
                {%- if section.settings.image.width >= 3840 -%}{{ section.settings.image | img_url: '3840x' }} 3840w,{%- endif -%}
                {{ section.settings.image | img_url: 'master' }} {{ section.settings.image.width }}w"
                        sizes="{% if section.settings.image_2 != blank and section.settings.stack_images_on_mobile %}(min-width: 750px) 50vw, 100vw{% elsif section.settings.image_2 != blank %}50vw{% else %}100vw{% endif %}"
                        src="{{ section.settings.image | img_url: '1500x' }}"
                        loading="lazy"
                        alt="{{ section.settings.image.alt | escape }}"
                        width="{{ section.settings.image.width }}"
                        height="{{ section.settings.image.width | divided_by: section.settings.image.aspect_ratio }}"
                >
            {%- else -%}
                <img src="{{ product.images[0] | image_url: width: 1200 }}" alt="" />
            {%- endif -%}
        </div>

        <p>
            {%- if section.settings.text != blank -%}
                {{- section.settings.text -}}
            {%- else -%}
                {{ product.description }}
            {%- endif -%}
        </p>

        <div class="litt-intro__grid">
        {%- for block in section.blocks -%}
        {%- case block.type -%}
            {%- when 'text-with-icon' -%}
                <div class="litt-intro__grid__item">
                    <img src="{{ block.settings.icon | img_url }}" alt="" width="40" height="40" loading="lazy">
                    {{- block.settings.text -}}
                </div>
            {%- endcase -%}
        {%- endfor -%}
        </div>

        {%-  if section.settings.product -%}
        <div class="litt-intro__add-product">
            <product-form class="product-form">
                {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                    <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" disabled>
                    <input type="hidden" name="return_to" value="/checkout/" />

                    {%- unless product.has_only_default_variant -%}
                    <variant-radios class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}" data-update-url="false" {{ block.shopify_attributes }}>
                        {%- for option in product.options_with_values -%}
                            <fieldset class="js product-form__input">
                                <legend class="form__label">{{ option.name }}</legend>
                                {%- for value in option.values -%}
                                    <input type="radio" id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                                           name="{{ option.name }}"
                                           value="{{ value | escape }}"
                                           form="{{ product_form_id }}"
                                           {% if option.selected_value == value %}checked{% endif %}
                                    >
                                    <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
                                        {{ value }}
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 387 486.12"><defs><style>.cls-1{fill: currentColor;}</style></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M377.84,146.7h0L322.38,39.79a63.5,63.5,0,0,0-5.51-10.61L316.8,29h0A63.51,63.51,0,0,0,263.41,0H63.59A63.59,63.59,0,0,0,0,63.59V356.53a63.44,63.44,0,0,0,23.88,49.65L65.53,448.5h0c22.45,20.69,32.18,37.62,58,37.62H323.41A63.59,63.59,0,0,0,387,422.53V179.59A63.31,63.31,0,0,0,377.84,146.7ZM26,63.59A37.63,37.63,0,0,1,63.59,26H263.41A37.67,37.67,0,0,1,301,63.59V356.53a37.63,37.63,0,0,1-37.59,37.59H63.59a37.7,37.7,0,0,1-9.74-1.28L47,390.19l-.25-.07A37.58,37.58,0,0,1,26,356.53ZM361,422.53a37.63,37.63,0,0,1-37.59,37.59H123.59c-8.72,0-12.29-2.82-26.6-17.26-3.95-4-8.42-8.49-13.56-13.24l-9.35-9.5H85.3l.7.61v-.61H263.41A63.59,63.59,0,0,0,327,356.53V105.16L351.84,153V154l3.76,6.21a37.5,37.5,0,0,1,5.4,19.42Z"/></g></g></svg>
                                    </label>
                                {%- endfor -%}
                            </fieldset>
                        {%- endfor -%}
                        <script type="application/json">
                          {{ product.variants | json }}
                        </script>
                    </variant-radios>
                    {%- endunless -%}

                    <div class="litt-intro__submit">
                        <span>10 <small>%</small></span>
                        <span>
                            10% life time discount on Litt products
                        </span>
                        <button type="submit">
                            {%- unless product.has_only_default_variant -%}
                            {%- if product.selected_or_first_available_variant.available -%}
                                <span id="value-{{ section.id }}">{{ product.selected_or_first_available_variant.title }}-pack</span>&nbsp;
                            {%- else -%}
                                <span id="value-{{ section.id }}"><del>{{ product.selected_or_first_available_variant.title }}-pack</del></span>&nbsp;
                            {%- endif -%}
                            {%- endunless -%}

                            <span class="no-js-hidden" id="price-{{ section.id }}" role="status" {{ block.shopify_attributes }}>
                                {%- if product.selected_or_first_available_variant.available -%}
                                    {%- render 'price', product: product, use_variant: true, show_badges: false, price_class: '' -%}
                                {%- else -%}
                                    {{ 'products.product.sold_out' | t }}
                                {%- endif -%}
                            </span>

                            <span class="loading-overlay__spinner hidden">
                                <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                    <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                </svg>
                            </span>
                        </button>
                    </div>

                    <div class="product-form__error-message-wrapper" role="alert" hidden>
                        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 13 13">
                            <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                            <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                            <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                            <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
                        </svg>
                        <span class="product-form__error-message"></span>
                    </div>
                {%- endform -%}
            </product-form>
        </div>
        {%- endif -%}
    </div>
</div>

<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "t:sections.litt-intro.name",
  "tag": "section",
  "class": "litt-intro-section spaced-section spaced-section--full-width",
  "settings": [
    {
        "type": "text",
        "id": "title",
        "label": "t:sections.litt-intro.settings.title.label"
    },
    {
        "type": "text",
        "id": "sub_title",
        "label": "t:sections.litt-intro.settings.sub_title.label"
    },
    {
        "type": "text",
        "id": "text",
        "label": "t:sections.litt-intro.settings.text.label"
    },
    {
        "type": "product",
        "id": "product",
        "label": "t:sections.litt-intro.settings.product.label"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.litt-intro.settings.image.label"
    },
    {
      "type": "checkbox",
      "id": "reverse",
      "label": "t:sections.litt-intro.settings.reverse.label"
    }
  ],
  "blocks": [
      {
        "type": "text-with-icon",
        "name": "t:sections.litt-intro.blocks.text-with-icon.name",
        "settings": [
            {
                "type": "text",
                "id": "text",
                "default": "Text block",
                "label": "t:sections.litt-intro.blocks.text-with-icon.settings.text.label"
            },
            {
                "type": "image_picker",
                "id": "icon",
                "label": "t:sections.litt-intro.blocks.text-with-icon.settings.icon.label"
            }
        ]
     }
  ],
  "presets": [
    {
        "name": "litt-intro",
        "category": "Custom"
    }
  ]
}
{% endschema %}
